.query-section{
    width: 100%;
    padding-bottom: 9rem;
    text-align: center;
    padding: 80px;
}

.query-section .query-header{
    font-family: "Poppins";
    font-weight: 700;
    font-size: 48px;
    line-height: 44px;
}

.query-section .query-content{
    margin-top: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 23.8602px;
    line-height: 49px;
}